<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TwitterAnalysis</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.apache.spark.analysis.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/controller</url-pattern>
    <url-pattern>/spark_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServlet</display-name>
    <servlet-name>CountryServlet</servlet-name>
    <servlet-class>com.apache.spark.analysis.CountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServlet</servlet-name>
    <url-pattern>/country</url-pattern>
    <url-pattern>/countryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopKeywords</display-name>
    <servlet-name>TopKeywords</servlet-name>
    <servlet-class>com.apache.spark.analysis.TopKeywords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopKeywords</servlet-name>
    <url-pattern>/TopKeywords</url-pattern>
    <url-pattern>/keywords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetFood</display-name>
    <servlet-name>StreetFood</servlet-name>
    <servlet-class>com.apache.spark.analysis.StreetFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetFood</servlet-name>
    <url-pattern>/StreetFood</url-pattern>
    <url-pattern>/streetfood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GymDiet</display-name>
    <servlet-name>GymDiet</servlet-name>
    <servlet-class>com.apache.spark.analysis.GymDiet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GymDiet</servlet-name>
    <url-pattern>/GymDiet</url-pattern>
    <url-pattern>/gymdiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetweetedHealth</display-name>
    <servlet-name>RetweetedHealth</servlet-name>
    <servlet-class>com.apache.spark.analysis.RetweetedHealth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetweetedHealth</servlet-name>
    <url-pattern>/RetweetedHealth</url-pattern>
    <url-pattern>/retweets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Workout</display-name>
    <servlet-name>Workout</servlet-name>
    <servlet-class>com.apache.spark.analysis.Workout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Workout</servlet-name>
    <url-pattern>/Workout</url-pattern>
    <url-pattern>/workout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cuisines</display-name>
    <servlet-name>Cuisines</servlet-name>
    <servlet-class>com.apache.spark.analysis.Cuisines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cuisines</servlet-name>
    <url-pattern>/Cuisines</url-pattern>
    <url-pattern>/cuisines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FluServlet</display-name>
    <servlet-name>FluServlet</servlet-name>
    <servlet-class>com.apache.spark.analysis.FluServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FluServlet</servlet-name>
    <url-pattern>/FluServlet</url-pattern>
    <url-pattern>/flu</url-pattern>
  </servlet-mapping>
</web-app>